$mainColor: #F0145A;
$mainColorActive: rgba(185, 17, 70);
$secondaryColor: #24A3FF;
$secondaryColorActive: #1a77b9;
$primaryColor: #323264;
$phantomColor: #B3B3BA;
$light: white;
$dark: black;
$mainTransition: .2s;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.goToPage {
    position: relative;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: $mainTransition;
    color: $secondaryColor;
    display: inline-block;
    &::after {
        content: '';
        position: absolute;
        top: 10%;
        left: 105%;
        padding: 2.7px;
        border: solid $secondaryColor;
        border-width: 0 3px 3px 0;
        transition: $mainTransition;
        transform: rotate(-45deg);
        display: inline-block;
    }
    &:hover {
        color: $mainColor;
        &::after {
            border-color: $mainColor;
        }
    }
    &:active {
        transition: 0s;
        color: $mainColorActive;
        &::after {
            transition: 0s;
            border-color: $mainColorActive;
        }
    }
}

.empty {
    margin: 0 10px;
    &:empty {
        width: 6px;
        height: 6px;
        background: #B3B3BA;
        border-radius: 60px;
        border-radius: 60px;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1320px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 904px;
    }
}

@media screen and (max-width: 930px) {
    .container {
        max-width: 640px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 315px;
    }
}