@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.header__container {
  position: relative;
  border-radius: 0 0 12px 12px;
  background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
.header__container::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 1%;
  height: 10px;
  width: 98%;
  border-radius: 0 0 12px 12px;
  background-color: #CACADB;
  z-index: 1;
}
.header__container::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 2%;
  height: 10px;
  width: 96%;
  padding-top: 10px;
  border-radius: 0 0 12px 12px;
  background-color: #E7E7F2;
}
.header__container .header {
  position: absolute;
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container .header .header__item .header__logo {
  display: flex;
  align-items: start;
}
.header__container .header .header__item .header__logo a {
  padding-right: 5px;
}
.header__container .header .header__item .header__logo .web-title {
  display: flex;
  align-items: center;
}
.header__container .header .header__item .header__logo .web-title .title__name {
  font-size: 36px;
  text-transform: lowercase;
  color: #323264;
}
.header__container .header .header__item .header__contact {
  display: flex;
  align-items: center;
  color: white;
}
.header__container .header .header__item .header__contact .header__contact--item {
  margin: 0 6px;
}
.header__container .header .header__item .header__contact .header__contact--item:empty {
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 60px;
  border-radius: 60px;
}
.header__container .header .header__item .header__contact .header__localization .header__localization--btn {
  padding: 7px 6px;
  border-radius: 8px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s;
  background-color: transparent;
  color: white;
}
.header__container .header .header__item .header__contact .header__localization .header__localization--btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.header__container .header .header__item .header__contact .header__localization .header__localization--btn:focus {
  background-color: #F0145A;
}
.header__container .header .header__item .header__contact .header__contact--info {
  color: white;
}
.header__container .header .header__item .header__contact .header__contact--number {
  font-weight: 700;
  color: white;
}
.header__container .header .header__item .header__contact .header__contact--social {
  font-size: 0;
}
.header__container .header .header__item .header__contact .header__contact--social:hover path {
  fill: #F0145A;
}
.header__container .header .header__item .header__contact .header__contact--social:active path {
  fill: rgb(185, 17, 70);
}
.header__container .header .header__item .header__contact .header__contact--social svg path {
  fill: white;
  transition: 0.2s;
}
.header__container .header .header__item .header__nav .header__nav--list {
  gap: 15px;
  display: flex;
}
.header__container .header .header__item .header__nav .header__nav--list .header__nav--item .header__nav--link {
  color: white;
}
.header__container .header .header__item .header__nav .header__nav--list .header__nav--item .header__nav--link::after {
  content: "";
  width: 0;
  border-bottom: 2px solid white;
  transition: width 0.2s;
  display: block;
}
.header__container .header .header__item .header__nav .header__nav--list .header__nav--item .header__nav--link:hover::after {
  width: 100%;
}
.header__container .header .header__item .header__nav .header__nav--list .header__nav--item .header__nav--link:active {
  transition: 0s;
  color: rgb(185, 17, 70);
}
.header__container .header .header__item .header__nav .header__nav--list .header__nav--item .header__nav--link:active::after {
  border-color: rgb(185, 17, 70);
}
.header__container .header .header__item .header__nav .header__nav--list .header__nav--item .header__nav--link_target {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}
.header__container .header .header__item .header__nav .header__nav--list .header__nav--item .header__nav--link_target:hover::after {
  width: 0;
}
.header__container .hero .hero__img-wrap {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.header__container .hero .hero__img-wrap .hero__img--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 38px;
  font-weight: 700;
  white-space: nowrap;
  color: white;
}
.header__container .hero .hero__img-wrap .hero__down-btn-wrap {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid white;
  border-radius: 50px;
}
.header__container .hero .hero__img-wrap .hero__down-btn-wrap .hero__down-btn {
  width: 20px;
  height: 20px;
  margin: 12px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(135deg) translate(-15%, 15%);
  background-color: transparent;
}
.header__container .hero .hero__experience-wrap .hero__experience {
  width: 71%;
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
}
.header__container .hero .hero__experience-wrap .hero__experience .hero__experience--list {
  padding: 15px 60px 15px 0;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.header__container .hero .hero__experience-wrap .hero__experience .hero__experience--list .hero__experience--item .hero__experience--link {
  white-space: nowrap;
  font-size: 38px;
  font-weight: 700;
  transition: 0.2s;
  color: #B3B3BA;
  display: block;
}
.header__container .hero .hero__experience-wrap .hero__experience .hero__experience--list .hero__experience--item .hero__experience--link:hover {
  color: #F0145A;
}
.header__container .hero .hero__experience-wrap .hero__experience .hero__experience--list .hero__experience--item .hero__experience--link:active {
  transition: 0s;
  color: rgb(185, 17, 70);
}
.header__container .hero .hero__experience-wrap .hero__experience .hero__experience--list .hero__experience--item .hero__experience--link.hero__experience--link--target {
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.header__container .hero .hero__experience-wrap .hero__experience .hero__experience--list--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__container .hero .hero__experience-wrap .hero__experience .hero__experience--list--content .hero__experience--item--content {
  display: none;
  padding-left: 60px;
}
.header__container .hero .hero__experience-wrap .hero__experience .hero__experience--list--content .hero__experience--item--content h3 {
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.header__container .hero .hero__experience-wrap .hero__experience .hero__experience--list--content .hero__experience--item--content p {
  font-size: 19px;
  line-height: 30px;
  color: white;
}
.header__container .hero .hero__experience-wrap .hero__experience .hero__experience--list--content .hero__experience--item--content.hero__experience--item--content--target {
  display: block;
}

.prim_header {
  background: #fff;
}
.prim_header::before {
  content: "";
  height: 0;
  width: 0;
}
.prim_header::after {
  content: "";
  height: 0;
  width: 0;
}
.prim_header .header {
  padding-bottom: 60px;
}
.prim_header .header .header__item .header__logo a svg path {
  fill: #323264;
}
.prim_header .header .header__item .header__logo a svg path:first-child {
  fill: #F0145A;
}
.prim_header .header .header__item .header__contact .header__localization .header__localization--btn {
  color: #B3B3BA;
}
.prim_header .header .header__item .header__contact .header__contact--info {
  color: #B3B3BA;
}
.prim_header .header .header__item .header__contact .header__contact--number {
  color: #B3B3BA;
}
.prim_header .header .header__item .header__contact .header__contact--social svg path {
  fill: #B3B3BA;
}
.prim_header .header .header__item .header__nav .header__nav--list .header__nav--item .header__nav--link {
  color: #24A3FF;
  font-weight: 700;
}
.prim_header .header .header__item .header__nav .header__nav--list .header__nav--item .header__nav--link::after {
  border-color: #24A3FF;
}
.prim_header .header .header__item .header__nav .header__nav--list .header__nav--item .header__nav--link_target {
  color: #F0145A;
}
.hero-services {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.hero-services .hero__heading {
  font-size: 38px;
  font-weight: 700;
  color: #F0145A;
}
.hero-services .hero__row {
  display: flex;
  gap: 60px;
}
.hero-services .hero__row .hero__col {
  width: 33.3333333333%;
}
.hero-services .hero__row .hero__col a {
  display: inline-block;
  margin-bottom: 30px;
}
.hero-services .hero__row .hero__col a:hover svg {
  transform: scale(0.9);
}
.hero-services .hero__row .hero__col a:hover:active ~ h3 {
  transition: 0s;
  color: rgb(185, 17, 70);
}
.hero-services .hero__row .hero__col a:hover ~ h3 {
  color: #F0145A;
}
.hero-services .hero__row .hero__col a svg {
  transition: 0.2s;
}
.hero-services .hero__row .hero__col h3 {
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.2s;
  color: #24A3FF;
}
.hero-services .hero__row .hero__col h3:hover {
  color: #F0145A;
}
.hero-services .hero__row .hero__col h3:active {
  transition: 0s;
  color: rgb(185, 17, 70);
}
.hero-services .hero__row .hero__col p {
  line-height: 26px;
  color: white;
}

.services .main {
  padding-bottom: 60px;
}
.services .main .main__heading {
  padding: 80px 0 30px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #323264;
}
.services .main .main__col-wrap {
  max-width: 1720px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.services .main .main__col-wrap .main__col {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .main .main__col-wrap .main__col:nth-child(1) {
  background-color: #1C4280;
}
.services .main .main__col-wrap .main__col:nth-child(2) {
  background-color: #143646;
}
.services .main .main__col-wrap .main__col:nth-child(3) {
  background-color: #F48B30;
}
.services .main .main__col-wrap .main__col:nth-child(4) {
  background-color: #9E4DC3;
}
.services .main .main__col-wrap .main__col:nth-child(5) {
  background-color: #FD9339;
}
.services .main .main__col-wrap .main__col:nth-child(6) {
  background-color: #E2E2E4;
}
.services .main .main__col-wrap .main__col:nth-child(7) {
  background-color: #C71C36;
}
.services .main .main__col-wrap .main__col:nth-child(8) {
  background-color: #DCF3F9;
}
.services .main .main__col-wrap .main__col:nth-child(9) {
  background-color: #EAEAEA;
}
.services .main .main__col-wrap .main__col:nth-child(10) {
  background-color: #282240;
}
.services .main .main__col-wrap .main__col:nth-child(11) {
  background-color: #1D4568;
}
.services .main .main__col-wrap .main__col:nth-child(12) {
  background-color: black;
}

.team .main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .main .main__item {
  display: flex;
  justify-content: center;
}
.team .main .main__item h1 {
  width: 83%;
  padding-bottom: 60px;
  font-size: 38px;
  font-weight: 700;
  color: #F0145A;
}
.team .main .main__item .main__grid {
  display: flex;
  gap: 60px;
  flex-direction: column;
}
.team .main .main__item .main__grid .row {
  display: flex;
  gap: 4%;
}
.team .main .main__item .main__grid .row:last-child {
  padding-bottom: 60px;
}
.team .main .main__item .main__grid .row .col .img-wrap {
  display: block;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
}
.team .main .main__item .main__grid .row .col .img-wrap:hover ~ .title .title__text h4 {
  color: #F0145A;
}
.team .main .main__item .main__grid .row .col .img-wrap:hover ~ .title .btn-wrap svg path {
  stroke: #F0145A;
}
.team .main .main__item .main__grid .row .col .img-wrap:active ~ .title .title__text h4 {
  color: rgb(185, 17, 70);
  transition: 0s;
}
.team .main .main__item .main__grid .row .col .img-wrap:active ~ .title .btn-wrap svg path {
  stroke: rgb(185, 17, 70);
  transition: 0s;
}
.team .main .main__item .main__grid .row .col .img-wrap img {
  display: block;
  width: 100%;
}
.team .main .main__item .main__grid .row .col .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team .main .main__item .main__grid .row .col .title .title__text {
  display: flex;
  flex-direction: column;
}
.team .main .main__item .main__grid .row .col .title .title__text h4 {
  padding: 15px 0 5px;
  font-weight: 700;
  transition: 0.2s;
  color: #323264;
}
.team .main .main__item .main__grid .row .col .title .title__text span {
  font-size: 14px;
  color: #B3B3BA;
}
.team .main .main__item .main__grid .row .col .title .btn-wrap {
  font-size: 0;
}
.team .main .main__item .main__grid .row .col .title .btn-wrap:hover svg path {
  stroke: #F0145A;
}
.team .main .main__item .main__grid .row .col .title .btn-wrap:active svg path {
  stroke: rgb(185, 17, 70);
}
.team .main .main__item .main__grid .row .col .title .btn-wrap svg path {
  transition: 0.2s;
}

.publications {
  background-color: #F5F5FA;
}
.publications .main .main__grid {
  padding: 30px 0 60px 0;
  border-bottom: 2px solid #E6E6F0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.publications .main .main__grid .main__slide {
  padding: 2px;
  border-radius: 12px;
  background-color: #E6E6F0;
}
.publications .main .main__grid .main__slide .main__slide--link-wrap {
  position: relative;
  display: flex;
}
.publications .main .main__grid .main__slide .main__slide--link-wrap .main__slide--link {
  padding: 10px 30px;
  font-weight: 700;
  z-index: 1;
  color: #323264;
  display: block;
}
.publications .main .main__grid .main__slide .main__slide--link-wrap .floating-bg:empty {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 12px;
  transition: 0.2s;
  background-color: white;
}
.publications .main .main__grid .main__more--btn-wrap {
  padding: 18px 30px;
  border-radius: 12px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  transition: 0.2s;
}
.publications .main .main__grid .main__more--btn-wrap:hover {
  background: #F0145A;
  box-shadow: 0px 0px 20px 0px rgba(240, 20, 90, 0.5019607843);
}
.publications .main .main__grid .main__more--btn-wrap:hover:active {
  box-shadow: inset 0px 0px 20px 0px rgba(121, 4, 41, 0.4);
}
.publications .main .main__grid .main__more--btn-wrap .main__more--btn {
  font-weight: 700;
  color: white;
}
.publications .main .main__grid .main__row {
  display: flex;
  gap: 30px;
}
.publications .main .main__grid .main__row .main__col {
  width: 33.333%;
  border-radius: 8px;
  background-color: white;
}
.publications .main .main__grid .main__row .main__col .main__public--img-wrap {
  height: 200px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}
.publications .main .main__grid .main__row .main__col .main__public--img-wrap:hover ~ .main__description a h4 {
  color: #F0145A;
}
.publications .main .main__grid .main__row .main__col .main__public--img-wrap a .main__public--img {
  width: 100%;
}
.publications .main .main__grid .main__row .main__col .main__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}
.publications .main .main__grid .main__row .main__col .main__description a h4 {
  font-weight: 700;
  transition: 0.2s;
  color: #24A3FF;
}
.publications .main .main__grid .main__row .main__col .main__description a h4:hover {
  color: #F0145A;
}
.publications .main .main__grid .main__row .main__col .main__description span {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.publications .main .main__grid .main__row .main__col .main__description hr {
  width: 100%;
  border: 4px solid #E6E6F0;
}
.publications .main .main__grid .main__row .main__col .main__description p {
  font-size: 14px;
  line-height: 22px;
}

.footer__container {
  background-color: #F5F5FA;
}
.footer__container .footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.footer__container .footer .footer__item.empty {
  margin: 0 10px;
}
.footer__container .footer .footer__item.empty:empty {
  width: 6px;
  height: 6px;
  background: #B3B3BA;
  border-radius: 60px;
  border-radius: 60px;
}
.footer__container .footer .footer__item .footer__info {
  padding-bottom: 21px;
  display: flex;
  align-items: center;
}
.footer__container .footer .footer__item .footer__info span {
  color: #323264;
}
.footer__container .footer .footer__item .footer__info a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  transition: 0.2s;
}
.footer__container .footer .footer__item .footer__info a:hover {
  color: #F0145A;
}
.footer__container .footer .footer__item .footer__info a:active {
  color: rgb(185, 17, 70);
}
.footer__container .footer .footer__item .footer__contact {
  display: flex;
  align-items: center;
}
.footer__container .footer .footer__item .footer__contact .footer__contact--social {
  font-size: 0;
}
.footer__container .footer .footer__item .footer__contact .footer__contact--social:hover svg path {
  fill: #F0145A;
}
.footer__container .footer .footer__item .footer__contact .footer__contact--social:active svg path {
  fill: rgb(185, 17, 70);
}
.footer__container .footer .footer__item .footer__contact .footer__contact--social svg path {
  transition: 0.2s;
}
.footer__container .footer .footer__item .footer__contact .footer__contact--number {
  font-weight: 700;
  color: #323264;
}
.footer__container .footer .footer__item .footer__contact .footer__contact--mail {
  font-weight: 700;
  transition: 0.2s;
  color: #24A3FF;
}
.footer__container .footer .footer__item .footer__contact .footer__contact--mail:hover {
  color: #F0145A;
}
.footer__container .footer .footer__item .footer__contact .footer__contact--mail:active {
  color: rgb(185, 17, 70);
}
.footer__container .footer .footer__item .footer__marking span {
  color: #B3B3BA;
}
.footer__container .footer .footer__item .footer__marking span span {
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */