.footer__container {
    background-color: #F5F5FA;
    .footer {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        .footer__item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            width: 100%;
            .address {
                padding-bottom: 21px;
                display: flex;
                align-items: center;
                span {
                    color: $primaryColor;
                }
                a {
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $secondaryColor;
                    transition: $mainTransition;
                    &:hover {
                        color: $mainColor;
                    }
                    &:active {
                        color: $mainColorActive;
                    }
                }
            }
            .contacts {
                grid-row-start: 2;
                display: flex;
                align-items: center;
                .contacts__social {
                    font-size: 0;
                    &:hover {
                        svg {
                            path {
                                fill: $mainColor;
                            }
                        }
                    }
                    &:active {
                        svg {
                            path {
                                fill: $mainColorActive;
                            }
                        }
                    }
                    svg {
                        path {
                            transition: $mainTransition;
                        }
                    }
                }
                .contacts__number {
                    font-weight: 700;
                    color: $primaryColor;
                }
                .contacts__mail {
                    font-weight: 700;
                    transition: $mainTransition;
                    color: $secondaryColor;
                    &:hover {
                        color: $mainColor;
                    }
                    &:active {
                        color: $mainColorActive;
                    }
                }
            }
            .marking {
                grid-column-start: 2;
                justify-self: end;
                span {
                    color: #B3B3BA;
                    span {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .footer__container {
        .footer {
            .footer__item {
                white-space: nowrap;
                .contacts {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .footer__container {
        .footer {
            .footer__item {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(3, auto);
                grid-gap: 30px;
                justify-content: center;
                .empty {
                    display: none;
                }
                .contacts, .address, .marking {
                    grid-column-start: auto;
                    grid-column-end: auto;
                    gap: 10px;
                }
                .contacts {
                    grid-row-start: 2;
                    grid-row-end: 3;
                    flex-direction: column;
                }
                .address {
                    grid-row-start: 1;
                    grid-row-end: 2;
                    flex-direction: column;
                    padding: 0;
                }
                .marking {
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
            }
        }
    }
}