.footer__container {
    background-color: #F5F5FA;
    .footer {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        .footer__item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            width: 100%;
            .footer__info {
                padding-bottom: 21px;
                display: flex;
                align-items: center;
                span {
                    color: $primaryColor;
                }
                a {
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $secondaryColor;
                    transition: $mainTransition;
                    &:hover {
                        color: $mainColor;
                    }
                    &:active {
                        color: $mainColorActive;
                    }
                }
            }
            .footer__contact {
                grid-row-start: 2;
                display: flex;
                align-items: center;
                .footer__contact--social {
                    font-size: 0;
                    &:hover {
                        svg {
                            path {
                                fill: $mainColor;
                            }
                        }
                    }
                    &:active {
                        svg {
                            path {
                                fill: $mainColorActive;
                            }
                        }
                    }
                    svg {
                        path {
                            transition: $mainTransition;
                        }
                    }
                }
                .footer__contact--number {
                    font-weight: 700;
                    color: $primaryColor;
                }
                .footer__contact--mail {
                    font-weight: 700;
                    transition: $mainTransition;
                    color: $secondaryColor;
                    &:hover {
                        color: $mainColor;
                    }
                    &:active {
                        color: $mainColorActive;
                    }
                }
            }
            .footer__marking {
                grid-column-start: 2;
                justify-self: end;
                span {
                    color: #B3B3BA;
                    span {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}