.header__container {
    position: relative;
    border-radius: 0 0 12px 12px;
    background: linear-gradient(229deg, $primaryColor 11.93%, $primaryColor 57.17%, #643E72 87.46%);
    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 1%;
        height: 10px;
        width: 98%;
        border-radius: 0 0 12px 12px;
        background-color: #CACADB;
        z-index: 1;
    }
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 2%;
        height: 10px;
        width: 96%;
        padding-top: 10px;
        border-radius: 0 0 12px 12px;
        background-color: #E7E7F2;
    }
    .header {
        position: absolute;
        width: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__item {
            .header__logo {
                display: flex;
                align-items: start;
                a {
                    padding-right: 5px;
                }
                .web-title {
                    display: flex;
                    align-items: center;
                    .title__name {
                        font-size: 36px;
                        text-transform: lowercase;
                        color: $primaryColor;
                    }
                }
            }
            .header__contact {
                display: flex;
                align-items: center;
                color: $light;
                .header__contact--item {
                    margin: 0 6px;
                    &:empty {
                        width: 6px;
                        height: 6px;
                        background: #E6E6F0;
                        border-radius: 60px;
                        border-radius: 60px;
                    }
                }
                .header__localization {
                    .header__localization--btn {
                        padding: 7px 6px;
                        border-radius: 8px;
                        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                        font-size: 12px;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        transition: $mainTransition;
                        background-color: transparent;
                        color: $light;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.20);
                        }
                        &:focus {
                            background-color: $mainColor;
                        }
                    }
                }
                .header__contact--info {
                    color: $light;
                }
                .header__contact--number {
                    font-weight: 700;
                    color: $light;
                }
                .header__contact--social {
                    font-size: 0;
                    &:hover {
                        path {
                            fill: $mainColor;
                        }
                    }
                    &:active {
                        path {
                            fill: $mainColorActive;
                        }
                    }
                    svg {
                        path {
                            fill: $light;
                            transition: $mainTransition;
                        }
                    }
                }
            }
            .header__nav {
                .header__nav--list {
                    gap: 15px;
                    display: flex;
                    .header__nav--item {
                        .header__nav--link {
                            color: $light;
                            &::after {
                                content: '';
                                width: 0;
                                border-bottom: 2px solid $light;
                                transition: width $mainTransition;
                                display: block;
                            }
                            &:hover {
                                &::after {
                                    width: 100%;
                                }
                            }
                            &:active {
                                transition: 0s;
                                color: $mainColorActive;
                                &::after {
                                    border-color: $mainColorActive;
                                }
                            }
                        }
                        .header__nav--link_target {
                            color: $mainColor;
                            border-bottom: 2px solid $mainColor;
                            &:hover {
                                &::after {
                                    width: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .hero {
        .hero__img-wrap {
            position: relative;
            width: fit-content;
            margin: 0 auto;
            .hero__img--text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 38px;
                font-weight: 700;
                white-space: nowrap;
                color: $light;
            }
            .hero__down-btn-wrap {
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translateX(-50%);
                border: 2px solid $light;
                border-radius: 50px;
                .hero__down-btn {
                    width: 20px;
                    height: 20px;
                    margin: 12px;
                    border-top: 2px solid $light;
                    border-right: 2px solid $light;
                    transform: rotate(135deg) translate(-15%, 15%);
                    background-color: transparent;
                }
            }
        }
        .hero__experience-wrap {
            .hero__experience {
                width: 71%;
                padding: 60px 0;
                margin: 0 auto;
                display: flex;
                .hero__experience--list {
                    padding: 15px 60px 15px 0;
                    border-right: 4px solid rgba(255, 255, 255, 0.30);
                    display: flex;
                    gap: 30px;
                    flex-direction: column;
                    .hero__experience--item {
                        .hero__experience--link {
                            white-space: nowrap;
                            font-size: 38px;
                            font-weight: 700;
                            transition: $mainTransition;
                            color: #B3B3BA;
                            display: block;
                            &:hover {
                                color: $mainColor;
                            }
                            &:active {
                                transition: 0s;
                                color: $mainColorActive;
                            }
                            &.hero__experience--link--target {
                                background: var(--gradient-text-red-reversed, linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%));
                                background-clip: text;
                                -webkit-text-fill-color: transparent;
                                display: inline-block;
                            }
                        }
                    }
                }
                .hero__experience--list--content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .hero__experience--item--content {
                        display: none;
                        padding-left: 60px;
                        h3 {
                            padding-bottom: 30px;
                            font-size: 30px;
                            font-weight: 700;
                            color: $light;
                        }
                        p {
                            font-size: 19px;
                            line-height: 30px;
                            color: $light;
                        }
                        &.hero__experience--item--content--target {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
.prim_header {
    background: #fff;
    &::before {
        content: '';
        height: 0;
        width: 0;
    }
    &::after {
        content: '';
        height: 0;
        width: 0;
    }
    .header {
        padding-bottom: 60px;
        .header__item {
            .header__logo {
                a {
                    svg {
                        path {
                            fill: $primaryColor;
                            &:first-child {
                                fill: $mainColor;
                            }
                        }
                    }
                }
                .web-title {
                    .title__name {
                    }
                }
            }
            .header__contact {
                .header__contact--item {
                    &:empty {
                    }
                }
                .header__localization {
                    .header__localization--btn {
                        color: $phantomColor;
                        &:hover {
                        }
                        &:focus {
                        }
                    }
                }
                .header__contact--info {
                    color: $phantomColor;
                }
                .header__contact--number {
                    color: $phantomColor;
                }
                .header__contact--social {
                    svg {
                        path {
                            fill: $phantomColor;
                        }
                    }
                    &:hover {
                        path {
                        }
                    }
                }
            }
            .header__nav {
                .header__nav--list {
                    .header__nav--item {
                        .header__nav--link {
                            color: $secondaryColor;
                            font-weight: 700;
                            &::after {
                                border-color: $secondaryColor;
                            }
                            &:hover {
                                &::after {
                                }
                            }
                            &:active {
                                &::after {
                                }
                            }
                        }
                        .header__nav--link_target {
                            color: $mainColor;
                            &:hover {
                                &::after {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}