.publications {
    background-color: #f5f5fa;
    .main {
        padding-top: 30px;
        .publications__heading {
            font-size: 38px;
            font-weight: 700;
            background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .main__item {
            padding: 30px 0;
            border-bottom: 2px solid #e6e6f0;
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            .category {
                padding: 2px;
                border-radius: 12px;
                background-color: #e6e6f0;
                .wrapper {
                    position: relative;
                    display: flex;
                    .category__link {
                        padding: 10px 30px;
                        font-weight: 700;
                        z-index: 1;
                        color: $primaryColor;
                        display: block;
                    }
                    .floating-bg:empty {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 0;
                        border-radius: 12px;
                        transition: $mainTransition;
                        background-color: $light;
                    }
                }
            }
            .more {
                margin-bottom: 30px;
                padding: 18px 30px;
                border-radius: 12px;
                background: $secondaryColor;
                box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
                transition: $mainTransition;
                &:hover {
                    background: $mainColor;
                    box-shadow: 0px 0px 20px 0px #f0145a80;
                    &:active {
                        box-shadow: inset 0px 0px 20px 0px rgba(121, 4, 41, 0.4);
                    }
                }
                .more__btn {
                    font-weight: 700;
                    color: $light;
                }
            }
            .publications__list {
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-template-rows: repeat(2, auto);
                grid-gap: 30px;
                .publications__item {
                    width: 100%;
                    border-radius: 8px;
                    background-color: $light;
                    .publications__img--wrap {
                        height: 200px;
                        overflow: hidden;
                        border-radius: 8px 8px 0 0;
                        &:hover ~ .publications__desc {
                            a {
                                h4 {
                                    color: $mainColor;
                                }
                            }
                        }
                        a {
                            .publications__img {
                                width: 100%;
                            }
                        }
                    }
                    .publications__desc {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        padding: 30px;
                        a {
                            h4 {
                                font-weight: 700;
                                transition: $mainTransition;
                                color: $secondaryColor;
                                &:hover {
                                    color: $mainColor;
                                }
                            }
                        }
                        span {
                            font-size: 12px;
                            font-weight: 700;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            color: $phantomColor;
                        }
                        hr {
                            width: 100%;
                            border: 4px solid #e6e6f0;
                        }
                        p {
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .publications {
        .main {
            .publications__heading {
                padding-bottom: 30px;
                font-size: 38px;
                font-weight: 700;
                color: $mainColor;
            }
            .main__item {
                padding: 0;
                padding-bottom: 30px;
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .publications {
        .main {
            .main__item {
                .publications__list {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    grid-template-rows: repeat(3, auto);
                }
            }
        }
    }
    .publications.home-page {
        .main {
            .main__item {
                .publications__list {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    grid-template-rows: repeat(2, auto);
                    .publications__item {
                        &:nth-child(3) {
                            grid-column-start: 1;
                            grid-column-end: 3;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .publications {
        .main {
            .main__item {
                .publications__list {
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(6, auto);
                    .publications__item {
                        grid-column-start: auto;
                        grid-column-end: auto;
                        grid-row-start: auto;
                        grid-row-end: auto;
                    }
                }
            }
        }
    }
    .publications.home-page {
        .main {
            .publications__heading {
                font-size: 30px;
            }
            .main__item {
                .publications__list {
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(3, auto);
                    grid-gap: 0;
                    grid-row-gap: 30px;
                    .publications__item {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: auto;
                        grid-row-end: auto;
                    }
                }
            }
        }
    }
}
