.team {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        .main__item {
            display: flex;
            justify-content: center;
            h1 {
                width: 83%;
                padding-bottom: 60px;
                font-size: 38px;
                font-weight: 700;
                background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .main__grid {
                .row {
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    grid-template-rows: repeat(2, auto);
                    grid-gap: 60px;
                    padding-bottom: 60px;
                    .col {
                        .img-wrap {
                            display: block;
                            &:hover ~ .title {
                                .title__text {
                                    h4 {
                                        color: $mainColor;
                                    }
                                }
                                .btn-wrap {
                                    svg {
                                        path {
                                            stroke: $mainColor;
                                        }
                                    }
                                }
                            }
                            &:active ~ .title {
                                .title__text {
                                    h4 {
                                        color: $mainColorActive;
                                        transition: 0s;
                                    }
                                }
                                .btn-wrap {
                                    svg {
                                        path {
                                            stroke: $mainColorActive;
                                            transition: 0s;
                                        }
                                    }
                                }
                            }
                            img {
                                display: block;
                                width: 500px;
                                height: 400px;
                                border-radius: 12px;
                                object-fit: cover;
                            }
                        }
                        .title {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .title__text {
                                display: flex;
                                flex-direction: column;
                                h4 {
                                    padding: 15px 0 5px;
                                    font-weight: 700;
                                    transition: $mainTransition;
                                    color: $primaryColor;
                                }
                                span {
                                    font-size: 14px;
                                    color: $phantomColor;
                                }
                            }
                            .btn-wrap {
                                font-size: 0;
                                &:hover {
                                    svg {
                                        path {
                                            stroke: $mainColor;
                                        }
                                    }
                                }
                                &:active {
                                    svg {
                                        path {
                                            stroke: $mainColorActive;
                                        }
                                    }
                                }
                                svg {
                                    path {
                                        transition: $mainTransition;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .slider {
        padding-top: 80px;
        .slider__item {
            display: none;
            height: 300px;
            * {
                width: fit-content;
            }
            .slider__img-wrap {
                border-radius: 12px 0px 0px 12px;
                overflow: hidden;
                font-size: 0;
                img {
                }
            }
            .slider__profile {
                padding: 30px;
                border-radius: 0px 12px 12px 0px;
                background-color: #EDEDF7;
                .goToPage {
                    padding-bottom: 20px;
                }
                .slider__heading {
                    padding-bottom: 30px;
                    font-size: 38px;
                    font-weight: 700;
                    background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                h4 {
                    padding-bottom: 6px;
                    font-weight: 700;
                    color: $phantomColor;
                }
                p {
                    font-size: 14px;
                    line-height: 22px;
                    color: $phantomColor;
                }
            }
            &.slider__item--target {
                display: flex;
            }
        }
        .slider__btn {
            padding-top: 30px;
            display: flex;
            justify-content: center;
            .slider__btn--item-wrap {
                display: flex;
                .slider__btn--item {
                    display: block;
                    margin-right: 15px;
                    transition: $mainTransition;
                    border-radius: 50%;
                    background-color: #d3edff;
                    &:last-child {
                        margin-right: 0;
                    }
                    &:empty {
                        width: 16px;
                        height: 16px;
                    }
                    &:active {
                        transition: 0s;
                        background-color: $secondaryColorActive;
                    }
                    &.slider__btn--item--target {
                        background-color: $secondaryColor;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1520px) {
    .team {
        .main {
            .main__item {
                .main__grid {
                    .row {
                        gap: 60px;
                        .col {
                            .img-wrap {
                                img {
                                    height: 400px;
                                    width: 400px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1340px) {
    .team {
        .main {
            .main__item {
                .main__grid {
                    .row {
                        gap: 60px;
                        .col {
                            .img-wrap {
                                img {
                                    height: 400px;
                                    width: 260px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1120px) {
    .team {
        .slider {
            .slider__item {
                height: 500px;
                * {
                }
                .slider__img-wrap {
                    img {
                        height: 100%;
                    }
                }
                .slider__profile {
                    width: 60%;
                    .goToPage {
                    }
                    .slider__heading {
                    }
                    h4 {
                    }
                    p {
                    }
                }
                &.slider__item--target {
                }
            }
            .slider__btn {
                .slider__btn--item-wrap {
                    .slider__btn--item {
                        &:last-child {
                        }
                        &:empty {
                        }
                        &:active {
                        }
                        &.slider__btn--item--target {
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .team {
        .slider {
            .slider__item {
                flex-direction: column;
                height: auto;
                * {
                }
                .slider__img-wrap {
                    border-radius: 12px 12px 0 0;
                    width: 100%;
                    height: 500px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .slider__profile {
                    border-radius: 0 0 12px 12px;
                    width: 100%;
                    .goToPage {
                    }
                    .slider__heading {
                    }
                    h4 {
                    }
                    p {
                    }
                }
                &.slider__item--target {
                }
            }
            .slider__btn {
                .slider__btn--item-wrap {
                    .slider__btn--item {
                        &:last-child {
                        }
                        &:empty {
                        }
                        &:active {
                        }
                        &.slider__btn--item--target {
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .team {
        .main {
            .main__item {
                h1 {
                    width: 100%;
                }
                .main__grid {
                    .row {
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(3, auto);
                        .col {
                            .img-wrap {
                                height: 400px;
                                width: auto;
                                img {
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .team {
        .main {
            .main__item {
                h1 {
                    padding: 30px 0;
                    font-size: 30px;
                }
                .main__grid {
                    .row {
                        grid-template-columns: repeat(1, 1fr);
                        grid-template-rows: repeat(6, auto);
                        .col {
                            .img-wrap {
                                img {
                                }
                            }
                        }
                    }
                }
            }
        }
        .slider {
            .slider__item {
                * {
                }
                .slider__img-wrap {
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
                .slider__profile {
                    .goToPage {
                    }
                    .slider__heading {
                        font-size: 30px;
                    }
                    h4 {
                    }
                    p {
                    }
                }
                &.slider__item--target {
                }
            }
            .slider__btn {
                .slider__btn--item-wrap {
                    .slider__btn--item {
                        &:last-child {
                        }
                        &:empty {
                        }
                        &:active {
                        }
                        &.slider__btn--item--target {
                        }
                    }
                }
            }
        }
    }
}