.team {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        .main__item {
            display: flex;
            justify-content: center;
            h1 {
                width: 83%;
                padding-bottom: 60px;
                font-size: 38px;
                font-weight: 700;
                color: $mainColor;
            }
            .main__grid {
                display: flex;
                gap: 60px;
                flex-direction: column;
                .row {
                    display: flex;
                    gap: 4%;
                    &:last-child {
                        padding-bottom: 60px;
                    }
                    .col {
                        .img-wrap {
                            display: block;
                            &:hover ~ .title {
                                .title__text {
                                    h4 {
                                        color: $mainColor;
                                    }
                                }
                                .btn-wrap {
                                    svg {
                                        path {
                                            stroke: $mainColor;
                                        }
                                    }
                                }
                            }
                            &:active ~ .title {
                                .title__text {
                                    h4 {
                                        color: $mainColorActive;
                                        transition: 0s;
                                    }
                                }
                                .btn-wrap {
                                    svg {
                                        path {
                                            stroke: $mainColorActive;
                                            transition: 0s;
                                        }
                                    }
                                }
                            }
                            img {
                                display: block;
                                width: 500px;
                                height: 400px;
                                border-radius: 12px;
                                object-fit: cover;
                            }
                        }
                        .title {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .title__text {
                                display: flex;
                                flex-direction: column;
                                h4 {
                                    padding: 15px 0 5px;
                                    font-weight: 700;
                                    transition: $mainTransition;
                                    color: $primaryColor;
                                }
                                span {
                                    font-size: 14px;
                                    color: $phantomColor;
                                }
                            }
                            .btn-wrap {
                                font-size: 0;
                                &:hover {
                                    svg {
                                        path {
                                            stroke: $mainColor;
                                        }
                                    }
                                }
                                &:active {
                                    svg {
                                        path {
                                            stroke: $mainColorActive;
                                        }
                                    }
                                }
                                svg {
                                    path {
                                        transition: $mainTransition;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .slider {
        padding-top: 80px;
        .slider__item {
            display: none;
            .slider__img-wrap {
                height: 300px;
                width: 55%;
                border-radius: 12px 0px 0px 12px;
                overflow: hidden;
                img {
                    transform: translate(-6%, -23%);
                }
            }
            .slider__profile {
                padding: 30px;
                border-radius: 0px 12px 12px 0px;
                background-color: #EDEDF7;
                .goToPage {
                    padding-bottom: 20px;
                }
                .slider__heading {
                    padding-bottom: 30px;
                    font-size: 38px;
                    font-weight: 700;
                    color: $mainColor;
                }
                h4 {
                    padding-bottom: 6px;
                    font-weight: 700;
                    color: $phantomColor;
                }
                p {
                    font-size: 14px;
                    line-height: 22px;
                    color: $phantomColor;
                }
            }
            &.slider__item--target {
                display: flex;
            }
        }
        .slider__btn {
            padding-top: 30px;
            display: flex;
            justify-content: center;
            .slider__btn--item-wrap {
                display: flex;
                .slider__btn--item {
                    display: block;
                    margin-right: 15px;
                    transition: $mainTransition;
                    border-radius: 50%;
                    background-color: #d3edff;
                    &:last-child {
                        margin-right: 0;
                    }
                    &:empty {
                        width: 16px;
                        height: 16px;
                    }
                    &:active {
                        transition: 0s;
                        background-color: $secondaryColorActive;
                    }
                    &.slider__btn--item--target {
                        background-color: $secondaryColor;
                    }
                }
            }
        }
    }
}